.n-wrapper{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}
.n-left{
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}
.n-name{
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list{
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list ul li:hover ul.sub-list-services,
.n-list ul li:hover ul.sub-list-category  {
  visibility: visible;
  transition: ease-out 1s;
  
} 
.n-list ul li ul:hover li {

color: white;
background: var(--black);
visibility: initial;

}
.n-list ul li ul.sub-list-services,
.n-list ul li ul.sub-list-category {
     visibility: hidden;     
  position: absolute;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 10px 0px 10px 0px;
  border: 2px solid var(--orange);
  background: var(--black);
}
.n-list > ul li ul.sub-list-services li,
.n-list > ul li ul.sub-list-category li{

  border-bottom: 2px  solid ;
  border-top: 2px  solid ;
  cursor: pointer;
  padding: 0 9px;
  width: 11rem;
 }


.n-list > ul li ul li:hover {
  color: var(--orange);
  cursor: pointer;
  background: rgb(0,0,0);
}

/* .n-list  ul:hover:nth-child(2) li {
visibility: visible;

  

} */


.n-button{
  flex: 2;
  width: 5rem;
}

@media screen and (max-width:1200px){
  .n-wrapper{
    transform: scale(.8)
  }
}
@media screen and (max-width:480px){
  .n-wrapper{
    transform: scale(1)
  }
  .n-list{
    display: none;
  }
  .n-button{
    width:4.1rem;
    font-size: .9rem;
    font-weight: bold;
  }
}